
@use 'variables' as v;
@use '../base/mixins' as m;

html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: v.$fuenteSecundaria;
    font-size: 1.6rem;
    background-color: v.$primario;
}

h1, h2, h3{
    margin: 0 0 5rem 0;
    text-transform: uppercase;
    line-height: 1.5;
}

h1{
    font-size: 4rem;
}

h2{
    font-family: v.$fuente_principal;
    font-size: 5.5rem;
    text-align: center;
    padding: 0;
    margin: 0 0 4rem 0;

    @include m.tablet {
        font-size: 9rem;
    }
}

h3{
    font-size: 3.2rem;
}

p{
    color: v.$negro;
    font-size: 1.6rem;
    line-height: 2;
}

[class$="__contenedor"]{
    width: 95%;
    max-width: 130rem;
    margin: 0 auto;
}

a{
    color: v.$negro;
    text-decoration: none;
}

img {
    display: block;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
