
@use 'variables' as v; 

@mixin telefono {
    @media (min-width: v.$telefono){
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet){
        @content;
    }
}

@mixin laptop {
    @media (min-width: v.$laptop){
        @content;
    }
}
@mixin desktop {
    @media (min-width: v.$desktop){
        @content;
    }
}

@mixin boton() {
    border: 2px solid #9b84ab;
    padding: 20px 80px;
    color: v.$blanco;
    text-decoration: none;
    background: #9b84ab;
    transition: color 0.5s, background 0.5s;
    border-radius: 30px;
    font-size: 30px;
    font-weight: bold;
    min-width: 140px;
    text-align: center;

    position: relative;
    z-index: 1;

    &:hover{
        color: v.$purpuraStrong;
        background-color: v.$blanco;
    }
}