

// Fuentes
$fuente_principal: 'Amatic SC', cursive;
$fuenteSecundaria: 'Lato', sans-serif;

//Media querys
$telefono: 480px;
$tablet: 768px;
$laptop: 992px;

//colores
$primario: #D3C4DD; //morado
$secundario: #ECE1FE;
$negro: #000;
$negroGris: #212529;
$blanco: #FFFFFF;
$pupuraFuerte: #C598AB;
$purpuraStrong: #800080;
